aioconsole==0.6.2
async-timeout==4.0.3
bleak==0.20.2
certifi==2023.7.22
charset-normalizer==3.2.0
docutils==0.20.1
idna==3.4
Kivy==2.2.1
Kivy-Garden==0.1.5
kivy-garden.mapview==1.0.6
kivymd==1.1.1
mapview==1.0.6
Pillow==10.0.0
plyer==2.1.0
Pygments==2.16.1
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-CoreBluetooth==9.2
pyobjc-framework-libdispatch==9.2
pypng==0.20220715.0
qrcode==7.4.2
requests==2.31.0
typing_extensions==4.7.1
urllib3==2.0.4
